.create__navi {
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  font-family: Iceberg;
  font-size: 24px;
  color: #ffffff;
}

.create__navi .create__navi-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 90px;
  padding-top: 30px;
}
