.main__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 143px;
}

.main__sign {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-family: Iceberg;
  font-size: 34px;
  color: #ffffff;
}
